

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

.big {
  font-size: 1.5rem;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}